# OSX
.DS_Store

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Metro
.metro-health-check*

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env
.env
.env.local
.env.*.local

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp

# Misc
coverage/
